* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  background: linear-gradient(45deg, #020024 0%, #090979 100%, #00d4ff 100%);
  width: 100%;
  height: 1000px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  position: relative;
}
.container h2 {
  padding: 20px;
}
.studendlist {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid White;
  padding: 10px;
}
.studendlist tr td,
.studendlist tr th {
  border: 1px solid White;
  padding: 10px;
}
.studendlist tr th {
  background-color: #120a3eff;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid #fff;
}
.studendlist tr td button {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #c17121ff;
  color: #fff;
  opacity: 0.8;
}

.studendlist tr td button:first-child {
  background-color: #056917ff;
}

.studendlist tr td button:hover {
  opacity: 1;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 101;
  display: none;
}

.add {
  width: 250px;
  height: 150px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 50%;
  padding-top: 20px;
  transform: translate(-40%, -50%);
  z-index: 102;
  background-color: #120a3eff;
  color: #fff;
  display: none;
}
.add input {
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
}
.add span,
.details button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #c17121ff;
  color: #fff;
  opacity: 0.8;
}
.add span:hover,
.details button:hover,
.add button:hover {
  opacity: 1;
}
.add button {
  width: 80%;
  margin: 10px auto;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #0a620dff;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  outline: none;
}
.details {
  width: 50%;
  height: 450px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -40%);
  z-index: 102;
  background-color: #120a3eff;
  color: #fff;
  overflow: hidden;
  display: none;
}
.details table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid White;
  padding: 10px;
  margin: 40px auto;
  padding: 10px;
}
.details table tr td,
.details table tr th {
  border: 1px solid White;
  padding: 10px;
}
.details table tr th {
  background-color: #120a3eff;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid #fff;
}

.pass {
  background-color: #056917ff;
}
.fail {
  background-color: #d02222ff;
}

.gold {
  background-color: gold;
  color: #000;
}
